In [1]:
import os
os.chdir("../")

In [3]:
import numpy as np 
import pandas as pd

In [35]:
df = pd.read_csv('Artificats\\Time_Estimation_Dataset\\train.csv')

In [36]:
def data(df):
    df.replace({"NaN": np.nan}, regex=True, inplace = True)
    df.drop(['Time_Order_picked','Delivery_person_ID','Restaurant_latitude','Restaurant_longitude','Type_of_order','Festival'],axis=1,inplace=True)
    df['Time_taken(min)'] = df['Time_taken(min)'].str.replace('(min)','')
    df=df.rename(columns={'Time_taken(min)':'Time_taken'})
    df['Time_taken'] =df['Time_taken'].astype(int)
    df['Weatherconditions']=df['Weatherconditions'].str.replace('conditions','')
    df['Delivery_person_Age']=df['Delivery_person_Age'].astype(float)
    df['Delivery_person_Ratings']=df['Delivery_person_Ratings'].astype(float)
    df['Order_Date']=pd.to_datetime(df['Order_Date'],dayfirst=True)
    df['Time_Orderd'] = pd.to_datetime(df['Time_Orderd'], format='%H:%M:%S', errors='coerce').dt.time
    return df

In [37]:
df = data(df)

In [39]:
df.isnull().sum()

ID                                0
Delivery_person_Age            1854
Delivery_person_Ratings        1908
Delivery_location_latitude        0
Delivery_location_longitude       0
Order_Date                        0
Time_Orderd                    1731
Weatherconditions               616
Road_traffic_density            601
Vehicle_condition                 0
Type_of_vehicle                   0
multiple_deliveries             993
City                           1200
Time_taken                        0
dtype: int64

In [40]:
df.to_csv("Artificats\\Time_Estimation_Dataset\\train.csv",index=False)

In [41]:
df

,ID,Delivery_person_Age,Delivery_person_Ratings,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_vehicle,multiple_deliveries,City,Time_taken
0,0x4607,37,4.9,22.765049,75.912471,2022-03-19,11:30:00,Sunny,High,2,motorcycle,0,Urban,24
1,0xb379,34,4.5,13.043041,77.813237,2022-03-25,19:45:00,Stormy,Jam,2,scooter,1,Metropolitian,33
2,0x5d6d,23,4.4,12.924264,77.688400,2022-03-19,08:30:00,Sandstorms,Low,0,motorcycle,1,Urban,26
3,0x7a6a,38,4.7,11.053669,77.026494,2022-04-05,18:00:00,Sunny,Medium,0,motorcycle,1,Metropolitian,21
4,0x70a2,32,4.6,13.012793,80.289982,2022-03-26,13:30:00,Cloudy,High,1,scooter,1,Metropolitian,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45588,0x7c09,30,4.8,26.912328,75.804257,2022-03-24,11:35:00,Windy,High,1,motorcycle,0,Metropolitian,32
45589,0xd641,21,4.6,0.070000,0.070000,2022-02-16,19:55:00,Windy,Jam,0,motorcycle,1,Metropolitian,36
45590,0x4f8d,30,4.9,13.052394,80.272439,2022-03-11,23:50:00,Cloudy,Low,1,scooter,0,Metropolitian,16
45591,0x5eee,20,4.7,11.041753,77.026241,2022-03-07,13:35:00,Cloudy,High,0,motorcycle,1,Metropolitian,26
45592,0x5fb2,23,4.9,23.431058,85.405731,2022-03-02,17:10:00,Fog,Medium,2,scooter,1,Metropolitian,36

In [46]:
df.dtypes

ID                                     object
Delivery_person_Age                    object
Delivery_person_Ratings                object
Delivery_location_latitude            float64
Delivery_location_longitude           float64
Order_Date                     datetime64[ns]
Time_Orderd                            object
Weatherconditions                      object
Road_traffic_density                   object
Vehicle_condition                       int64
Type_of_vehicle                        object
multiple_deliveries                    object
City                                   object
Time_taken                              int64
dtype: object