In [2]:
import os
os.chdir("../")
%pwd

'r:\\-real-time-route-optimization-and-predictive-analytics'

In [3]:
import numpy as np 
import pandas as pd

In [20]:
df = pd.read_csv('Artificats\\Time_Estimation_Dataset\\test.csv')
df_out = pd.read_csv('Artificats\\Time_Estimation_Dataset\\Sample_Submission.csv')

In [21]:
df["Time_taken(min)"] = df_out["Time_taken(min)"]

In [22]:
df

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,0x2318,COIMBRES13DEL01,NaN,NaN,11.003669,76.976494,11.043669,77.016494,30-03-2022,NaN,15:05:00,conditions NaN,NaN,3,Drinks,electric_scooter,1,No,Metropolitian,25.668333
1,0x3474,BANGRES15DEL01,28,4.6,12.975377,77.696664,13.085377,77.806664,29-03-2022,20:30:00,20:35:00,conditions Windy,Jam,0,Snack,motorcycle,1,No,Metropolitian,27.881667
2,0x9420,JAPRES09DEL03,23,4.5,26.911378,75.789034,27.001378,75.879034,10-03-2022,19:35:00,19:45:00,conditions Stormy,Jam,0,Drinks,motorcycle,1,No,Metropolitian,27.023333
3,0x72ee,JAPRES07DEL03,21,4.8,26.766536,75.837333,26.856536,75.927333,02-04-2022,17:15:00,17:20:00,conditions Fog,Medium,1,Meal,scooter,1,No,Metropolitian,28.153333
4,0xa759,CHENRES19DEL01,31,4.6,12.986047,80.218114,13.096047,80.328114,27-03-2022,18:25:00,18:40:00,conditions Sunny,Medium,2,Drinks,scooter,1,No,Metropolitian,21.018333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11394,0x6909,JAPRES01DEL01,35,4.6,26.905190,75.810753,27.015190,75.920753,27-03-2022,21:35:00,21:45:00,conditions Sunny,Jam,1,Snack,scooter,1,No,Metropolitian,21.972500
11395,0x443b,JAPRES11DEL01,33,4.9,26.902940,75.793007,26.912940,75.803007,11-03-2022,11:40:00,11:45:00,conditions Sandstorms,High,1,Drinks,scooter,1,No,Metropolitian,29.390000
11396,0x1ea5,SURRES11DEL03,NaN,NaN,21.157735,72.768778,21.217735,72.828778,11-03-2022,NaN,21:05:00,conditions NaN,NaN,3,Drinks,scooter,1,No,Metropolitian,26.244167
11397,0x22d4,VADRES03DEL02,27,4.7,22.320000,73.170000,22.450000,73.300000,06-03-2022,18:35:00,18:40:00,conditions Sandstorms,Medium,0,Meal,motorcycle,0,No,Metropolitian,23.752500
11398,0xb7be,CHENRES07DEL02,39,5,13.081878,80.248519,13.131878,80.298519,24-03-2022,22:20:00,22:25:00,conditions Windy,Low,2,Drinks,motorcycle,1,No,Urban,23.827500

In [23]:
def data(df):
    df.replace({"NaN": np.nan}, regex=True, inplace = True)
    df.drop(['Time_Order_picked','Delivery_person_ID','Restaurant_latitude','Restaurant_longitude','Type_of_order','Festival'],axis=1,inplace=True)
    # df['Time_taken(min)'] = df['Time_taken(min)'].str.replace('(min)','')
    df=df.rename(columns={'Time_taken(min)':'Time_taken'})
    df['Weatherconditions']=df['Weatherconditions'].str.replace('conditions','')
    df['Delivery_person_Age']=df['Delivery_person_Age'].astype(float)
    df['Delivery_person_Ratings']=df['Delivery_person_Ratings'].astype(float)
    df['Order_Date']=pd.to_datetime(df['Order_Date'],dayfirst=True)
    df['Time_Orderd'] = pd.to_datetime(df['Time_Orderd'], format='%H:%M:%S', errors='coerce').dt.time
    return df

In [24]:
df = data(df)

In [25]:
df.isnull().sum()

ID                               0
Delivery_person_Age            491
Delivery_person_Ratings        507
Delivery_location_latitude       0
Delivery_location_longitude      0
Order_Date                       0
Time_Orderd                    444
Weatherconditions              158
Road_traffic_density           154
Vehicle_condition                0
Type_of_vehicle                  0
multiple_deliveries            238
City                           324
Time_taken                       0
dtype: int64

In [26]:
df.to_csv("Artificats\\Time_Estimation_Dataset\\test.csv",index=False)

In [27]:
df

,ID,Delivery_person_Age,Delivery_person_Ratings,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_vehicle,multiple_deliveries,City,Time_taken
0,0x2318,NaN,NaN,11.043669,77.016494,2022-03-30,NaT,NaN,NaN,3,electric_scooter,1,Metropolitian,25.668333
1,0x3474,28.0,4.6,13.085377,77.806664,2022-03-29,20:30:00,Windy,Jam,0,motorcycle,1,Metropolitian,27.881667
2,0x9420,23.0,4.5,27.001378,75.879034,2022-03-10,19:35:00,Stormy,Jam,0,motorcycle,1,Metropolitian,27.023333
3,0x72ee,21.0,4.8,26.856536,75.927333,2022-04-02,17:15:00,Fog,Medium,1,scooter,1,Metropolitian,28.153333
4,0xa759,31.0,4.6,13.096047,80.328114,2022-03-27,18:25:00,Sunny,Medium,2,scooter,1,Metropolitian,21.018333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11394,0x6909,35.0,4.6,27.015190,75.920753,2022-03-27,21:35:00,Sunny,Jam,1,scooter,1,Metropolitian,21.972500
11395,0x443b,33.0,4.9,26.912940,75.803007,2022-03-11,11:40:00,Sandstorms,High,1,scooter,1,Metropolitian,29.390000
11396,0x1ea5,NaN,NaN,21.217735,72.828778,2022-03-11,NaT,NaN,NaN,3,scooter,1,Metropolitian,26.244167
11397,0x22d4,27.0,4.7,22.450000,73.300000,2022-03-06,18:35:00,Sandstorms,Medium,0,motorcycle,0,Metropolitian,23.752500
11398,0xb7be,39.0,5.0,13.131878,80.298519,2022-03-24,22:20:00,Windy,Low,2,motorcycle,1,Urban,23.827500

In [28]:
df.dtypes

ID                                     object
Delivery_person_Age                   float64
Delivery_person_Ratings               float64
Delivery_location_latitude            float64
Delivery_location_longitude           float64
Order_Date                     datetime64[ns]
Time_Orderd                            object
Weatherconditions                      object
Road_traffic_density                   object
Vehicle_condition                       int64
Type_of_vehicle                        object
multiple_deliveries                    object
City                                   object
Time_taken                            float64
dtype: object

In [ ]:
df.to_csv("")